<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Order Form</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="public/styles/mystyle.css">
</script><script src="/js/jquery.min.js"></script>
</script><script src="/js/bootstrap.min.js"></script>
</script><script src="public/js/myapp.js"></script>
