<div class="page-header">
  <img class="navbar-image" alt="Brand" src="/public/images/pizza.png"/> <h1>Happy Pizza World<small>Creat Your Own Pizza</small></h1>
 </div>
 <!--
        <nav class="navbar navbar-default my-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Home </a>
                </div>
            </div>
        </nav>
        -->
