.page-header{
  display: flex;
  align-items: center;
}
.page-header small{
  margin-left: 30px;
}
.navbar-image{
  width: 120px;
  height: 120px;
}
.my-navbar {
  height: 50px;
}
.top-group {
  display: inline-box;
}
.top-class {
  float: left;
  margin-right: 80px;
}
