.page-header{
  display: flex;
  align-items: center;
}
.page-header small{
  margin-left: 30px;
}
.navbar-image{
  width: 120px;
  height: 120px;
}
.my-navbar {
  height: 50px;
}
.top-group {
  display: inline-box;
}
.top-class {
  float: left;
  margin-right: 80px;
}
#failed-alert, #success-alert {
  position: fixed;
  top : 10px;
  left : 30%;
  width: 40%;
  height: 250px;
  z-index:100;
}
